.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}

.explore-menu-text{
    max-width: 60%;
    color: #808080;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar {
    display: none;
}
.explore-menu-list-item img{
    width: 100px;
    height: 100px;
    min-width: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2ms;
}

/* .explore-menu-item img:hover{
    transform: scale(1.05);
} */
.explore-menu-item p{
    margin-top: 10px;
    color: #262626;
    font-weight: 500;
    font-size: max(1.1vw ,16px);
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border-radius: none;
}

.explore-menu-list-item .active{
    border: 2px solid tomato !important;
    padding: 2px;
}



@media (max-width:1050px) {
    .explore-menu-item{
        max-width: 100%;
        font-size: 14px;
    }
}