.header{
    height: 34vw;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
    border-radius:20px;
}



.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: FadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p{
    color: white;
    font-size:1.2vw;

}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 14px);
    border-radius:50px ;
}
.header-contents button:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

@media (max-width:1050px) {
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}

@media (max-width:750px) {

    .header-contents{
        max-width: 55%;
    }

    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 0.8vw 2vw;
        font-size: max(1vw, 12px);
    }
}